@import "tailwindcss";

@theme {
  --color-sidebar: #1e1e1e;
  --color-main-bg: #121212;
}

:root {
  background-color: #292929;
  color: white;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}